/* 
    Document   : city.css
    Created on : 2013-03-01, 21:16:38
    Author     : pitre
    Description:
        Purpose of the stylesheet follows.
*/

.common_border
{
    border: 1px solid red;
    cursor: pointer;
}

.block_city_list li
{
    list-style-type: none;
    display: inline;
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.left
{
    vertical-align: top;
}
