/* 
    Document   : msze
    Created on : 2013-03-01, 19:29:22
    Author     : pitre
    Description:
        Purpose of the stylesheet follows.
*/

html
{
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 12px;
    background-color: #ffd;
    margin: 0px;
    padding: 0px;
}

body
{
    margin: 0px;
}

.main_content
{
    width: 970px;
    margin: 0 auto;
    background-color: #EFEFEF;
    text-align: center;
    min-height: 600px;
}

.pointer
{
    cursor: pointer;
}

.hidden
{
    display: none;
}

.div_center
{
    margin: 0 auto;
}

.spacer_10
{
    width: 10px;
    height: 10px;
}