{% extends "::base_all.html.twig" %}

{% block body %}

<h2>{{ church.name }} - {{ church.address }}</h2>
<ul>

{# {% render url('show_masses', {'church_id': church.id }) %} #}


</ul>

{% endblock %}