<h2>{{ city.name }}</h2>
<ul>

{% render url('show_churches', {'city_id': city.id }) %}

    <hr>
    
{% set i = 0 %}
{% for hour_tab in hours %}
    <h3>{{ days[i] }}</h3>
    <ul>        
            {% for hour in hour_tab %}
                <li>{{hour.startTime|date('H:i')}}</li>
            {% endfor %}
    </ul>
{% set i = i + 1 %}
{% endfor %}

</ul>