
{% extends "::base_all.html.twig" %}



{% block body %}
<h2>{{ city.name }}</h2>
<ul>

{% render url('show_churches', {'city_id': city.id, 'full': true }) %}

    <hr>
    
{% set i = 0 %}
{% for hour_tab in hours %}
    <h3>{{ days[i] }}</h3>
    <ul>        
            {% for hour in hour_tab %}
                <li>{{ '%d'|format(hour.start_time / 100) }}:{{ '%02d'|format(hour.start_time % 100) }}</li>
            {% endfor %}
    </ul>
{% set i = i + 1 %}
{% endfor %}

</ul>

{% endblock %}