{% extends "::base_start.html.twig" %}

{% block stylesheets %}
<link href="{{ asset('bundles/oipmsze/css/city.css') }}" rel="stylesheet"/>
<style type="text/css">
ul, menu, dir {
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;
    
    padding: 0px;
}
.main_search_result
{
    width: 850px;
    outline: 0px solid red;
    padding: 10px 10px 10px 45px;
    overflow: hidden;
    margin: 20px 0px;
    
    border: 1px solid #787878;
    -moz-box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.3);
    
    background-color: rgba(255,255,255,0.5);
}
.main_search_result:hover
{
    overflow: auto;
}
.geonames
{
    padding-bottom: 10px;
    color: #252525;
}
.geonames a, .geonames a:hover, .geonames a:link, .geonames a:visited
{
    color: #252525;
}
</style>
{% endblock %}

{% block body %}
<center>
<div class="main_add_new">
    <a href="{{ path('edit_or_add') }}" class="main_add_button">
    + Dodaj miejscowość lub parafię
    </a>
</div>
<div class="main_search">
    <label for="cityName">Szukaj miejscowości:</label> <input type="text" name="cityName" placeholder="Nazwa miejscowości"/>
    <div class="main_search_result">
        
    </div>
</div>

<div class="geonames">Nazwy miejscowości pochodzą z portalu <a href="http://www.geonames.org">www.geonames.org</a></div>

</center>


<script id="main_city_template" type="text/template">
     <% var cnt = 0, brk = false %>
    <% for (var key in data) { %>
        <div class="block_city_list_element">
            <span class="common_border"><%= $.oip.escape(data[key][1]) %></span>
            <span class="hidden city_id"><%= data[key][0] %></span>
        </div>
        <% 
            if (cnt >= max) { brk = true; break; }
            cnt = cnt + 1
        %>
    <% } %>
    <% if (brk == true) { %>
        <div class="render_more main_add_button">Więcej...</div>
    <% } %>
</script>

<script id="main_city_template_empty" type="text/template">
    <span>Nie znaleziono miejscowości o takiej nazwie. Użyj przycisku na górze strony aby dodać tę miejscowość.</span>
</script>

{% endblock %}

{% block javascripts %}
<script type="text/javascript">
    var allCities = {% render url('show_cities', {'_format': 'json', 'small': true }) %};
    var showMax = 100;
    
    function render_more()
    {
        showMax += 100;
        //save pos
        render_cities($('input[name=cityName]').val());
        //scroll
    }
    
    function render_cities(filter) {
        $('.main_search_result').oipLoading('show');
        
        filter = filter.toLowerCase();
        var filteredData = jQuery.extend(true, {}, allCities);
        
        if (filter != '') {
            for (var key in filteredData)
            {
                if (!filteredData[key][1].toLowerCase().contains(filter))
                {
                    delete filteredData[key];
                }       
            }
        }
        
        var rendered = undefined;
        if ($.isEmptyObject(filteredData)) {
            rendered = new EJS({text: $('#main_city_template_empty').html()}).render({});
        } else {
            rendered = new EJS({text: $('#main_city_template').html()}).render({data: filteredData, max: showMax});
        }
        $('.main_search_result').html(rendered).oipLoading('hide');
    }
    
    function resizeView()
    {
        var minVal = 440, diff = 210;
        if ($(window).height() - diff < minVal) {
            $('.main_search_result').height(minVal);
        } else {
            $('.main_search_result').height($(window).height() - diff);
        }   
    }
    
    $(document).ready(function() {    
        resizeView();
        $(window).resize(function() {
            resizeView();
        });
        
        render_cities($('input[name=cityName]').val());
        $('input[name=cityName]').keyup(function() {
            showMax = 100;
            render_cities($(this).val());
        });
        
        $('.main_search_result').on('click', '.block_city_list_element', function() {
            var city_id = $(this).find('.city_id').html();
            city_id = parseInt($.trim(city_id));
            location.href = Routing.generate('show_city', {id: city_id });
        });
        
        $('.main_search_result').on('click', '.render_more', function() {
            render_more();
        });
        
    });
</script>
{% endblock %}