{% extends "::base_start.html.twig" %}

{% block stylesheets %}
<link href="{{ asset('bundles/oipmsze/css/city.css') }}" rel="stylesheet"/>
<style type="text/css">
.main_search_result
{
    width: 860px;
    outline: 0px solid red;
    padding: 10px 40px;
    overflow: hidden;
    margin: 20px 0px;
    
    -webkit-box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.3);
    
    background-color: rgba(255,255,255,0.5);
}
.main_search_result:hover
{
    overflow: auto;
}
</style>
{% endblock %}

{% block body %}
<center>
<div class="main_add_new">
    <a href="{{ path('edit_or_add') }}" class="main_add_button">
    + Dodaj miejscowość lub parafię
    </a>
</div>
<div class="main_search">
    <label for="cityName">Szukaj miejscowości:</label> <input type="text" name="cityName" placeholder="Nazwa miejscowości"/>
    <div class="main_search_result">
        
    </div>
</div>

</center>


<script id="main_city_template" type="text/template">
    <ul class="block_city_list block_list">
    <% for (var key in data) { %>
        <li class="block_city_list_element">
            <span class="common_border"><%= data[key].name %></span>
            <span class="hidden city_id"><%= data[key].id %></span>
        </li>
    <% } %>
    </ul>
</script>

<script id="main_city_template_empty" type="text/template">
    <span>Nie znaleziono miejscowości o takiej nazwie. Użyj przycisku na górze strony aby dodać tę miejscowość.</span>
</script>

{% endblock %}

{% block javascripts %}
<script type="text/javascript">
    var allCities = {% render url('show_cities', {'_format': 'json' }) %};
          
    function render_cities(filter) {
        filter = filter.toLowerCase();
        var filteredData = jQuery.extend(true, {}, allCities);
        
        if (filter != '') {
            for (var key in filteredData)
            {
                if (!filteredData[key].name.toLowerCase().contains(filter))
                {
                    delete filteredData[key];
                }       
            }
        }
        var rendered = undefined;
        if ($.isEmptyObject(filteredData)) {
            rendered = new EJS({text: $('#main_city_template_empty').html()}).render({});
        } else {
            rendered = new EJS({text: $('#main_city_template').html()}).render({data: filteredData});
        }
        $('.main_search_result').html(rendered);   
    }
    
    function resizeView()
    {
        var minVal = 450, diff = 200;
        if ($(window).height() - diff < minVal) {
            $('.main_search_result').height(minVal);
        } else {
            $('.main_search_result').height($(window).height() - diff);
        }   
    }
    
    $(document).ready(function() {    
        resizeView();
        $(window).resize(function() {
            resizeView();
        });
        
        render_cities($('input[name=cityName]').val());
        $('input[name=cityName]').keyup(function() {
            render_cities($(this).val());
        });
        
        $('.main_search_result').on('click', '.block_city_list_element', function() {
            var city_id = $(this).find('.city_id').html();
            city_id = parseInt($.trim(city_id));
            location.href = Routing.generate('show_city', {id: city_id });
        });
    });
</script>
{% endblock %}