{% extends "::base_start.html.twig" %}

{% block body %}
<center>

<img src="{{ asset('bundles/oipmsze/images/edit_back.png') }}" alt="img test">
<br/>
<br/>

<form action="{{ path('show_city') }}" method="get" >
    <input type="text" name="id" id="search_dst"/>
    <input type="button" value="Pokaż" id="search_show"/>
</form>


<br/><br/>

<a href="{{ path('edit_or_add') }}">
+ Dodaj...
</a>


</center>

{% endblock %}

{% block javascripts %}
<script type="text/javascript">
      
    
      function movieFormatResult(city) {
        var markup = "<table class='movie-result'><tr>";
        /*if (movie.posters !== undefined && movie.posters.thumbnail !== undefined) {
            markup += "<td class='movie-image'><img src='" + movie.posters.thumbnail + "'/></td>";
        }
        markup += "<td class='movie-info'><div class='movie-title'>" + movie.title + "</div>";
        if (movie.critics_consensus !== undefined) {
            markup += "<div class='movie-synopsis'>" + movie.critics_consensus + "</div>";
        }
        else if (movie.synopsis !== undefined) {
            markup += "<div class='movie-synopsis'>" + movie.synopsis + "</div>";
        }
        markup += "</td></tr></table>"
        */
        markup += "<div class='search_city_result'>" +
            "<table><tr><td class='search_city_name'>" + city.name + "</td></tr>" +
                   "<tr><td class='search_city_dist'>" + (city.district == undefined ? '' : city.district) + "</td></tr>" +
            "</table></div>";
        return markup;
    }

    function movieFormatSelection(city) {
        return city.name + " " + (city.district == undefined ? '' : '(' + city.district + ')');
    }
    
    $(document).ready(function() {        
        $('#search_show').button();
        $('#search_show').click(function() {
  //          alert($("#search_dst").select2("val"));
            if ($("#search_dst").select2("val") != '')
            {
                $(this).parent().find("#search_dst").val($("#search_dst").select2("val"));
                $(this).parent().submit();
            }
        });
        
        $("#search_dst").val('');
        $("#search_dst").select2(
            {
                width: '350px',
                placeholder: "Szukaj miasta",
                minimumInputLength: 2,
                ajax: {
                    url: Routing.generate('show_cities', { _format: 'json' }),
                    dataType: 'json',
                    quietMillis: 100,
                    data: function (term, page) { // page is the one-based page number tracked by Select2
                        return {
                            s: term, //search term
                            page_limit: 10, // page size
                            page: page // page number
                            //apikey: "ju6z9mjyajq2djue3gbvv26p" // please do not use so this example keeps working
                        };
                },
                results: function (data, page) {
                    var more = (page * 10) < data.total; // whether or not there are more results available

                    // notice we return the value of more so Select2 knows if more results can be loaded
                    return {results: data, more: more};
                }
                },
                formatResult: movieFormatResult, // omitted for brevity, see the source of this page
                formatSelection: movieFormatSelection, // omitted for brevity, see the source of this page
                dropdownCssClass: "bigdrop", // apply css that makes the dropdown taller
                escapeMarkup: function (m) { return m; }, // we do not want to escape markup since we are displaying html in results
                selectOnBlur: true,
                id: function(object)
                {
                    return object.id;
                },
                formatInputTooShort: function (input, min) { var n = min - input.length; return "Wpisz jeszcze " + n + " znak" + (n == 1? "" : "i"); },
                formatInputTooLong: function (input, max) { var n = input.length - max; return "Wpisz o " + n + "znak " + (n == 1? "" : n < 5?"i":"ów") + " mniej "; },
                formatLoadMore: function (pageNumber) { return "Wczytuję. Proszę czekać..."; },
                formatSearching: function () { return "Szukam..."; },
            }
        );
    });
</script>
{% endblock %}