{% extends "::base_start.html.twig" %}

{% block stylesheets %}
<link href="{{ asset('bundles/oipmsze/css/city.css') }}" rel="stylesheet"/>
<style type="text/css">
       
#cookies {
    text-decoration: underline;
    cursor: pointer;
}
.cookies {
    position: absolute;
    border: 3px solid black;
    background-color: #EFEFEF;
    color: #252525;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    cursor: pointer;
    padding: 20px;
    overflow: auto;
}
ul, menu, dir {
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;
    
    padding: 0px;
}
.main_search_result
{
    width: 850px;
    outline: 0px solid red;
    padding: 10px 10px 10px 45px;
    overflow: hidden;
    margin: 20px 0px;
    
    border: 1px solid #787878;
    -moz-box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.3);
    
    background-color: rgba(255,255,255,0.5);
}
.main_search_result:hover
{
    overflow: auto;
}
.geonames
{
    padding-bottom: 10px;
    color: #252525;
}
.geonames a, .geonames a:hover, .geonames a:link, .geonames a:visited
{
    color: #252525;
}
</style>
{% endblock %}

{% block body %}
<center>
<div class="main_add_new">
    <a href="{{ path('edit_or_add') }}" class="main_add_button">
    + Dodaj miejscowość lub parafię
    </a>
</div>
<div class="main_search">
    <label for="cityName">Szukaj miejscowości:</label> <input type="text" name="cityName" placeholder="Nazwa miejscowości"/>
    <div class="main_search_result">
        
    </div>
</div>

        <div class="geonames">Nazwy miejscowości pochodzą z portalu <a href="http://www.geonames.org">www.geonames.org</a> | <span id="cookies">Informacja o cookies</span></div>

</center>

<div class="hidden cookies" title="Kliknij aby zamknąć">
    <p>Nasza strona stotsuje "cookies" (tzw. ciasteczka), czyli pliki, zawierające 
    dane informatyczne, w postaci plików tekstowych, które serwer zapisuje na 
    urządzeniu końcowym użytkownika danego Serwisu internetowego, 
    tak by odczytać je ponownie przy każdorazowym połączeniu się z Serwisem, z tego urządzenia końcowego.</p>

<p>Pliki cookies nie są wykorzystywane do identyfikacji czy ustalania tożsamości
poszczególnych użytkowników. Co ważne, pliki cookies nie niszczą systemu 
na danym urządzeniu końcowym, ani nie wpływają na sposób działania 
urządzenia końcowego. Pliki cookies nie powodują zmian konfiguracyjnych 
w urządzeniach końcowych użytkowników oraz nie mają żadnego wpływu na działanie 
oprogramowania zainstalowanego na tych urządzeniach.</p>
 
<p>Pliki cookies mogą być wykorzystywane w celu:</p>
<ul>
<li>dostosowania zawartości stron internetowych Serwisu do preferencji użytkownika 
    oraz optymalizacji korzystania ze stron internetowych</li>
<li>tworzenia statystyk, które pomagają zrozumieć, w jaki sposób użytkownicy 
    Serwisu korzystają ze stron internetowych, co umożliwia ulepszanie ich struktury i zawartości</li>
<li>utrzymania sesji użytkownika</li>
</ul>
<p>W ramach Serwisów stosowane są trzy zasadnicze rodzaje plików cookies: "sesyjne", "stałe" oraz "zewnętrzne".</p>
<p>Cookies "sesyjne" są plikami tymczasowymi, które przechowywane są w urządzeniu 
    końcowym użytkownika do czasu wyłączenia oprogramowania (przeglądarki internetowej)</p>
<p>"Stałe" pliki cookies przechowywane są w urządzeniu końcowym Użytkownika przez 
    czas określony w parametrach plików cookies lub do czasu ich usunięcia
    przez użytkownika i służą do zapamiętania wybranych przez użytkownika 
    Serwisu ustawień i personalizacji interfejsu użytkownika.</p>
<p>"Zewnętrzne" pliki cookies (tzw. third parties cookies) umożliwiają 
    zbieranie informacji o sposobie korzystania z Serwisów</p>

<p>Pliki cookies zamieszczane w urządzeniu końcowym Użytkownika Serwisu i 
wykorzystywane mogą być również przez współpracujących z operatorem Serwisu reklamodawców oraz partnerów.</p>

<br/>
<p>Zarządzanie plikami cookies:</p>

<p>Dostępne przeglądarki internetowe w ustawieniach początkowych 
    akceptują pliki cookies. Każdy użytkownik może jednak sprzeciwić
    się umieszczaniu plików cookies na jego urządzeniu końcowym.
    Co do zasady, by zmienić te ustawienia, należy skorzystać z opcji 
    wyłączenia mechanizmu plików cookies w danej przeglądarce internetowej, 
    zarówno na komputerach, smartfonach, jak i innych urządzeniach. 
    Ustawienia te mogą zostać zmienione w szczególności w taki sposób, 
    aby blokować automatyczną obsługę plików cookies w ustawieniach
    przeglądarki internetowej bądź informować o ich każdorazowym zamieszczeniu 
    w urządzeniu użytkownika Serwisu. Szczegółowe informacje o możliwości i 
    sposobach obsługi plików cookies dostępne są w ustawieniach oprogramowania 
    (przeglądarki internetowej). Warto jednak wspomnieć, że usunięcie plików 
    cookies może doprowadzić do utraty możliwości korzystania z istotnych funkcjonalności Serwisu.</p>
<p>Więcej informacji na temat cookies dostępnych jest pod adresem 
    <a href="http://www.aboutcookies.org/">http://www.aboutcookies.org/</a> 
    oraz <a href="http://wszystkoociasteczkach.pl">http://wszystkoociasteczkach.pl</a></p>

</div>


<script id="main_city_template" type="text/template">
     <% var cnt = 0, brk = false %>
    <% for (var key in data) { %>
        <div class="block_city_list_element">
            <span class="common_border"><%= $.oip.escape(data[key][1]) %></span>
            <span class="hidden city_id"><%= data[key][0] %></span>
        </div>
        <% 
            if (cnt >= max) { brk = true; break; }
            cnt = cnt + 1
        %>
    <% } %>
    <% if (brk == true) { %>
        <div class="render_more main_add_button">Więcej...</div>
    <% } %>
</script>

<script id="main_city_template_empty" type="text/template">
    <span>Nie znaleziono miejscowości o takiej nazwie. Użyj przycisku na górze strony aby dodać tę miejscowość.</span>
</script>

{% endblock %}

{% block javascripts %}
<script type="text/javascript">
    var allCities = {% render url('show_cities', {'_format': 'json', 'small': true }) %};
    var showMax = 100;
    
    function render_more()
    {
        showMax += 100;
        //save pos
        render_cities($('input[name=cityName]').val());
        //scroll
    }
    
    function render_cities(filter) {
        $('.main_search_result').oipLoading('show');
        
        filter = filter.toLowerCase();
        var filteredData = jQuery.extend(true, {}, allCities);
        
        if (filter != '') {
            for (var key in filteredData)
            {
                if (!filteredData[key][1].toLowerCase().contains(filter))
                {
                    delete filteredData[key];
                }       
            }
        }
        
        var rendered = undefined;
        if ($.isEmptyObject(filteredData)) {
            rendered = new EJS({text: $('#main_city_template_empty').html()}).render({});
        } else {
            rendered = new EJS({text: $('#main_city_template').html()}).render({data: filteredData, max: showMax});
        }
        $('.main_search_result').html(rendered).oipLoading('hide');
    }
    
    function resizeView()
    {
        var minVal = 440, diff = 210;
        if ($(window).height() - diff < minVal) {
            $('.main_search_result').height(minVal);
        } else {
            $('.main_search_result').height($(window).height() - diff);
        }   
    }
    
    function setCookie(c_name,value,exdays)
    {
        var exdate=new Date();
        exdate.setDate(exdate.getDate() + exdays);
        var c_value=escape(value) + ((exdays==null) ? "" : "; expires="+exdate.toUTCString());
        document.cookie=c_name + "=" + c_value;
    }
    
    function getCookie(c_name)
    {
        var c_value = document.cookie;
        var c_start = c_value.indexOf(" " + c_name + "=");
        if (c_start == -1)
          {
          c_start = c_value.indexOf(c_name + "=");
          }
        if (c_start == -1)
          {
          c_value = null;
          }
        else
          {
          c_start = c_value.indexOf("=", c_start) + 1;
          var c_end = c_value.indexOf(";", c_start);
          if (c_end == -1)
          {
        c_end = c_value.length;
        }
        c_value = unescape(c_value.substring(c_start,c_end));
        }
        return c_value;
    }
    
    $(document).ready(function() {    
        resizeView();
        $(window).resize(function() {
            resizeView();
        });
        
        render_cities($('input[name=cityName]').val());
        $('input[name=cityName]').keyup(function() {
            showMax = 100;
            render_cities($(this).val());
        });
        
        $('.main_search_result').on('click', '.block_city_list_element', function() {
            var city_id = $(this).find('.city_id').html();
            city_id = parseInt($.trim(city_id));
            location.href = Routing.generate('show_city', {id: city_id });
        });
        
        $('.main_search_result').on('click', '.render_more', function() {
            render_more();
        });
        
        if (getCookie('first_time') == null)
        {
            $('.cookies').show();
        }
        
        $('.cookies').click(function() {
            setCookie('first_time', true, 60);
            $(this).hide();
        });
        
        $('#cookies').click(function() {
            $('.cookies').show();
        });
    });
</script>
{% endblock %}