{% extends "::base_all.html.twig" %}

{% block body %}

<div id="block_add_city">
<h2>Nowe miasto</h2>

<table class="city_new_table">
    <tr><td class="left">
        <div class="city_new_form">
        
             <form action="{{ url }}" method="post" {{ form_enctype(form) }}>
            {{ form_widget(form) }}
            <input type="submit" />
            </form>
            
        </div>
    </td><td class="right">
        <div class="city_new_more"></div>
    </td></tr>
</table>


</div>

{% endblock %}


{% block javascripts %}
<script type="text/javascript">
$(document).ready(function() {
    $('#oip_mszebundle_citytype_name').keyup(function() {
        $.oip.ajax.getCities($('#oip_mszebundle_citytype_name').val(), $('.city_new_more'));
    });
});    
</script>
{% endblock %}