{% extends "::base.html.twig" %}

{% block body %}

<div id="block_add_city">
<h2>Dodaj miasto</h2>

 <form action="{{ url }}" method="post" {{ form_enctype(form) }}>
 {{ form_widget(form) }}
 <input type="submit" />
 </form>
</div>
<div id="block_show_city"></div>

<div id="cities_similar"></div>

{% endblock %}


{% block javascripts %}
<script type="text/javascript">
$(document).ready(function() {
    $('#oip_mszebundle_citytype_name').keyup(function() {
        $.oip.ajax.getCities($('#oip_mszebundle_citytype_name').val(), $('#cities_similar'));
    });
});    
</script>
{% endblock %}